.oz-app .ant-layout-content {
  min-height: 100vh;
  padding: 50px;
}

.oz-flex {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-between;
}
.ant-layout-header h1 {
  color: white;
}
